    *{
        margin: 0;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    body{
        background-color: #ffd000;
    }

    .topo{
        padding: 15px 10px;
        height: 60px;
        align-content: center;
        background-color: black;
        flex-wrap: nowrap;
        width: 100%;
        position: fixed;
    }

    .container-logo{
        display: flex;
        align-content: center;
        width: inherit;
        justify-content: space-between;
    }

    li{
        margin: 0 10px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border-radius: 40px;
        display: inline-block;
        padding: 10px;
    }

    .menu-nav{
        flex-wrap: nowrap;
        transition: 1s;
        transition-timing-function: ease;
        padding: 10px 30px 10px 30px;
    }

    .menu-nav:hover{
        transition: 1s;
        transition-timing-function: ease;
        padding: 10px 30px 10px 30px;
        margin: 0 20px 0 20px;
        color: #ffd000;
        border: none;
    }

    #imagem{
        transition: 1s;
        transition-timing-function: ease;
        align-self: center;
        padding: 20px 10px;
    }

    #imagem:hover{
        padding: 20px 60px;
    }

    .scroll{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        transition: 1s;
    }

    .scrollimg{
        width: 20%;
        height: 200px;
        position: relative;
        padding: 0 10px;
        transition: 1s;
        transition-timing-function: ease;
        align-content: center;
        /* border: 1px solid white; */
    }

    .scrollimg h1{
        font-weight: 600 bold;
        font-size: 2em;
    }
    
    .scrollimg:hover{
        position: relative;
        width: 15%;
        height: 12%;
        padding: 10px 0;
        transition: 1s;
        border-radius: 20px;
        background-color: #0f0e0a;
        top: -50px;
        transition: 1s;
    }

    .descricao{
        /* display: none; */
        text-align: center;
        transition: 1s;
        /* border: 1px solid; */
        transition-timing-function: ease;
    }

    .scrollimg:hover .descricao{
        display: block;
        transition: 1s;
        transition-timing-function: ease;
        border-radius: 20px;
        color: white;
        max-width: 100%;
        background-color: black;
    }

    a{
        text-decoration: none;
    }

    a:visited{
        color: white;
    }